*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: fit-content;
    background: #121117;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}