nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin: 10px 0 10px 0;
}
.container-title{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}
.container-title h1{
    font-family: 'Comic Neue', cursive;
    margin-left: 10px;
    color: #B7B9FF;
    font-size: 45px;
}
.container-title p{
    font-family: 'Comic Neue', cursive;
    color: #D3D4FF;
    font-size: 25px;
}
.container-icons-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
}
#singUp{
    font-family: 'Comic Neue', cursive;
    color: #D6D6E7;
    background: #121117;
    width: 100px;
    height: 30px;
    border: #D6D6E7 solid 2px;
    border-radius: 50px;
    cursor: pointer;
}
.user-icon{
    border: none;
    border-radius: 50px;
    width: 40px;
    cursor: pointer;
}